*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Lato', sans-serif;
  background: linear-gradient(to bottom,#009688 25%, #d6dbd8 75%);
}
main{
  height: 100vh;
}
img{
  max-width: 100%;
}
.container{
  max-width: 100%;
  margin: 0 auto;
}
.container{ 
  max-width: 80%;
  height: 765px;
}
.debug{
  border: 5px solid black;
}
                          /* Utility FLEX FLEX Utility FLEX  */
.d-flex{
  display: flex;
}
.center{
  justify-content: center;
  align-items: center;
}
.align{
  align-items: center;
}
.justify{
  justify-content: center;
}
.column{
  flex-direction: column;
}
.end{
  justify-content: flex-end;
}
.start{
  justify-content: flex-start;
}
.between{
  justify-content: space-between;
}
            /* /////////////////////////////////////////////////////////////////////// */
.small-column{
  width: 380px;
  height: 100%;
}
.big-column{
  width:calc(100% - 380px);
  height: 100%;
}
.corpo{
  margin-top: 20px;
}
.nav{
  height: 70px;
  width: 100%;
}
.main-chat{
  height: calc(100% - 140px);
  overflow-y: auto;
  background-image: url(img/mine.jpg);
}
.users-library{
  height: calc(100% - 170px);
  overflow-y: auto;
  width: 100%;
}
.icon{
  height: 100%;
  width: 25%;
}
.icon-text{
  width: 75%;
}
.big{
  width: calc(100% - 110px);
}
.small{
  width: 55px;
}
.search-bar{
  height: 30px;
}
.container-user{
  max-width: 100%;
}
.container-action{
  max-height: 100%;
  max-width: 15%;
}
.bell{
  background-color: #8edafc;
}
.icon img{
  height: 70px;
  width: 70px;
  object-fit: cover;
  border-radius: 200px;
}

/* MEDIA QUERY MEDIA QUERY MEDIA QUERY MEDIA QUERY MEDIA QUERY  */
@media screen and (min-width: 993px) {
  
}
@media screen and (max-width: 992px) {
  .none-tablet{
    display: none;
  }
  .users-library{
    height: calc(100% - 70px);
    width: 100%;
  }
  .big-column{
    max-width: 80%;
  }
}
@media screen and (max-width: 542px) {
  .none-mobile{
    display: none;
  }
}



