*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Lato', sans-serif;
  background: linear-gradient(bottom,#009688 25%, #d6dbd8 75%);
}
img{
  max-width: 100%;
}
.container{
  max-width: 100%;
  margin: 0 auto;
}
.container{ 
  max-width: 80%;
  height: 765px;
  margin: 0 auto;
}
.d-flex{
  display: flex;
}
.center{
  justify-content: center;
  align-items: center;
}
.align{
  align-items: center;
}
.justify{
  justify-content: center;
}
